.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2148C0;
    width: 100%;
    height:100%;
    background-image: url("../../assets/images/backgroundImage.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
    height: 398px;
}

.logo-svg-container {
    display: flex;
    height: 40%;
    width: 100%;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    height: 60%;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 50%;
    gap: 11px;
}

